@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Ubuntu:wght@300&display=swap');
/*this it temporary but the images are just so huge and I wanted to fix it*/
#hero-img, .card-img, .mountains{
    width: 600px;
}
.social img{
    width: 50px;
}
/*Links*/
a{
    text-decoration: none;
}
nav a{
    text-align: center;
    background-color: #CA4016;
    color: white;
    padding: 35px;
}
nav a:hover{
    background-color: #AE811E;
}
.book, .join{
    background-color: #CA4016;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #AE811E;
    color: white;
}

/*Body*/
body{
    background-color: #1D3749;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
/*Header*/
header{
    background-color: #25310C;
}
#logo_link{
    text-align: center;
    padding-top: 5px;
}
.logo{
    width: 80px;
}
/*Hero*/
#hero{
    text-align: center;
}
.home-title{
    text-align: center;
    color: white;
    font-family: "Bungee shade";
    font-size: 2em;
    margin-top: 10px;
}
#hero-box{
    text-align: center;
}
.h4{
    text-align: center;
    color: white;
}
.button-box{
    text-align: center;
}
/*Main*/
.home-grid{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #25310C;
}
.card-img{
    border: 10px solid black;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
main section img{
    box-sizing: border-box;
}
.msg{
    background-color: #25310C;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: white;
}
.msg p{
    color: white;
    padding-bottom: 15px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
/*Footer*/
footer{
    background-color: #25310C;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img{
    padding-top: 15px;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}    